

<div class="panel panel-success">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-user"></span> <%= comment.name%></strong>
      <span class="pull-right"><small>- <%= time_ago_in_words(comment.updated_at) %> ago</small></span>
    </div>

    <div class="panel-body">
        <%= comment.message %>
        <% if current_user.present? %>
        <% if(current_user == @post.user || current_user.isadmin) %>
            <%=  link_to 'Delete', [comment.post, comment], method: :delete, class: "btn btn-danger pull-right btn-xs" , data: {confirm: "Are you sure?"}%>
        <% end %>
        <% end %> 
    </div>
</div>


