
<% content_for :page_title, "Admin DashBoard" %>
<br>
  <%= link_to 'Back', root_path,class: 'btn btn-default border-main' %>

    <div class="wrapper">
      <div class="inner-container">
        <div class="grid-wrapper">
          <%= link_to users_path do %>
          <div class="grid">
            <div class="grid-header">
              <div class="icon">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
              </div>
              <div class="label">
                Users
              </div>
            </div>
            <div class="grid-overlay">
              <div class="overlay-content-wrapper">

                <div class="overlay-header">
                  Users
                </div>
                <div class="overlay-label">
                  See all users List. Actions are available like Show, Edit and Delete,
                </div>
              </div>

            </div>

          </div>
          <% end %>
          <%= link_to categories_path do %>
          <div class="grid">
            <div class="grid-header">
              <div class="icon">
                <i class="glyphicon glyphicon-th-list " aria-hidden="true"></i>

              </div>
              <div class="label">
                Categories
              </div>
            </div>
            <div class="grid-overlay">
              <div class="overlay-content-wrapper">

                <div class="overlay-header">
                  Categories
                </div>
                <div class="overlay-label">
                  Admin can manage categories here. Aciton are Available like show, delete, edit and create
                </div>
              </div>
            </div>
          </div>
            <% end %>
          <%= link_to tags_path do %>
          <div class="grid">
            <div class="grid-header">
              <div class="icon">
                <i class="glyphicon glyphicon-tags" aria-hidden="true"></i>

              </div>
              <div class="label">
                Tags
              </div>
            </div>
            <div class="grid-overlay">
              <div class="overlay-content-wrapper">

                <div class="overlay-header">
                  Tags
                </div>
                <div class="overlay-label">
                  Admin can manage Tags here. Aciton are Available like show, delete, edit and create. It is good for your site, by not giving  users any permission to create tags.
                </div>
              </div>
            </div>
          </div>
            <% end %>
          <div class="grid">
            <div class="grid-header">
              <div class="icon">
                <i class="glyphicon glyphicon-off" aria-hidden="true"></i>

              </div>

              <div class="label">
                Something 1
              </div>
            </div>
            <div class="grid-overlay">
              <div class="overlay-content-wrapper">

                <div class="overlay-header">
                  Something 1
                </div>
                <div class="overlay-label">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure autem sapiente quod adipisci illum in, praesentium sunt beatae quo at id officiis accusamus saepe fugit dicta nihil omnis. Expedita!
                </div>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="grid-header">
              <div class="icon">
                <i class="glyphicon glyphicon-off" aria-hidden="true"></i>

              </div>
              <div class="label">
                something 2
              </div>
            </div>
            <div class="grid-overlay">
              <div class="overlay-content-wrapper">

                <div class="overlay-header">
                  something 2
                </div>
                <div class="overlay-label">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure autem sapiente quod adipisci illum in, praesentium sunt beatae quo at id officiis accusamus saepe fugit dicta nihil omnis. Expedita!
                </div>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="grid-header">
              <div class="icon">
                <i class="glyphicon glyphicon-off" aria-hidden="true"></i>

              </div>
              <div class="label">
                Something 3
              </div>
            </div>
            <div class="grid-overlay">
              <div class="overlay-content-wrapper">

                <div class="overlay-header">
                  Something 3
                </div>
                <div class="overlay-label">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure autem sapiente quod adipisci illum in, praesentium sunt beatae quo at id officiis accusamus saepe fugit dicta nihil omnis. Expedita!
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
