.cust{
  margin: 3px;
  min-height: 150px;
  background-color: #95ff00a3;
  text-align: center;
  font-size: large;
  padding: 10px;
  color:#333333;
}
.icon{
  font-size: 35px;
  color: #80EDA8;
  width: 80px;
  height: 80px;
  background: black;
  text-align: center;
  border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  -o-border-radius: 49px;
  line-height: 1.7em;
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300);
//https://codepen.io/ajduke/pen/PvgBXw?page=2
@mixin trans($prop:all, $time:0.4s, $time_function:ease-in-out) {
  transition: $prop $time $time_function;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #e4e4e4;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #dbe4ff;
  font-family: "PT Sans Narrow", sans-serif;
}

.wrapper {
  margin: 40px auto;
  width: 1000px;
}

$primary: black;
$secondary: black;

h1 {
  margin: 10px;
  color: $primary;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid {
  height: 200px;
  border-color: #3b5bdb;
  background-color: #fff;
  border: 2px solid #00b107;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  position: relative;

  &:hover {
    .grid-overlay {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;

      .overlay-header {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        &:before {
          transform: translate(0, 0);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.grid-header {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  &:hover {
    cursor: pointer;
  }

  .icon {
    color: #80EDA8;
    font-size: 50px;
  }

  .label {
    color: $primary;
    margin-top: 10px;
  }
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(128, 237, 168);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  transform: translate(-10%, 0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
}

.overlay-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: $secondary;

  .overlay-header {
    font-size: 25px;
    margin-bottom: 25px;
    position: relative;
    transform: translatex(-70px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out 0.4s, transform 0.7s ease-in-out 0.4s;
    &:before {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 40px;
      height: 3px;
      background-color: $secondary;
      transform: translatey(20px);
      opacity: 0;
      visibility: hidden;

      transition: opacity 0.3s ease-in-out 0.8s, transform 0.2s ease-in-out 0.7s;
    }
  }
}

.user-grid {
  border: 0;
  .label {
    color: #222;
    font-size: 22px;
  }
}

.overlay-label {
  font-size: 14px;
  line-height: 1.3;
  word-spacing: 2px;
}

.ajduke {
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  .fa-heart {
    color: tomato;
    padding: 0 5px;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
    &:hover,
    &:visited,
    &.active {
      color: inherit;
    }
  }
}