// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
    height: 4px;
  }
  .hr-warning{
    background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
  }
  .hr-success{
    background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
  }
  .hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
  }
  .hr-danger{
    background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
  }
  .mcolor
  {
    color :#80EDA8
  }
  .post-info{
    min-height: 550px;
    max-height: 550px;
    background-color: #a0ffbe4a;
  }
  //--------------- for tags
.bbox{
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0 10px 50px 6px;
  padding: 3px 6px 3px 6px;
}
.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 0px 0 0 0px;
  border: solid 1px #cecece;
  color: #5d5b5b;
  display: inline-block;
  height: 28px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag:hover::before{
  background: black;
}
.tag::before {
  background: #64ff9d;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #64ff9d;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: grey;
  color: white;
}

.tag:hover::after {
  border-left-color: grey;
  background: black
}

.tags a{
  color: #5d5b5b;
}
.tags a:hover{
  color: white;
}
//---------------for tags end